@use './variables' as *;
@use './mixins' as *;
@use './backgrounds' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-primary;
  color: $color-text;
  background: #fffdfb;
}

.section-container {
  @include container;
}

.section {
  @include section;
}